extends layout
block content
  header.header
    h1=title
  section.project-container
    ul.projects
      each project in projects
        li.project
          a(href='/project/' + project.id)
            h1.title=project.name
          p.description=project.description
          div.project-content="some content"
