html
  head
    script(src="/jquery.js")
    link(rel='stylesheet', href='../css/style.css')
  body
    div#content.content
      block content
    script(src="/jquery.smoothState.min.js")
    script(src="/scripts.js")
