@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    transform: none; } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    transform: none; } }

body {
  margin: 0;
  background-color: #f7f7f7; }

.content {
  animation-name: fadeInUp;
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both; }
  .content.is-exiting {
    animation-direction: alternate-reverse; }

.header {
  width: 1220px;
  margin: 0 auto;
  padding: 64px 0px; }

* {
  box-sizing: border-box; }

.project-container {
  overflow: hidden; }

ul.projects {
  margin: 0;
  padding: 0; }

.project {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: white;
  padding: 100px;
  list-style: none;
  margin-bottom: 48px;
  transition: box-shadow 600ms ease;
  transform: scale(0.9); }
  .project:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.expanded {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  -webkit-transform: translate3d(0%, 0%, 0px);
  -webkit-animation: right-to-left 3s; }
